.main {
  min-height: 100vh;
}

.section {
  padding: 6rem 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  background: linear-gradient(to right, #fff, #888);
  -webkit-background-clip: text;
  color: transparent;
  display: table;
  /* To make gradient work on text width */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}